.child{
    width: 400px;
  
    height: 500px;
}
.button{
background-color: black;
color: white;
font: bolder;
width: 250px;
height:50px ;
border-radius: 20px;

}
.child-2{
    width: 600px;
    height: 500px;



}
.tom{
justify-content: flex-end;

}
.child-3{
    align-items:center ;
    height: 100px;

}





 @media screen and(min-width:325px)and(max-width:870px) {
.child-2{
    height: 80%;
    width:60%;
}

 }
    
 